.frase-do-dia{
    height: 11.9rem;
    width: 62rem;
    background-color: var(--frase-do-dia);
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.237);
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    overflow: visible;
    
    
}

.frase-do-dia-btn{
    display: none;
}

.out-circle{
    width: 4.4rem;
    height: 4.4rem;
    background-color: var(--first-circle);
    border-radius: 50%;
    margin-top: 1.6rem;
    margin-left: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.in-circle{
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    background-color: var(--second-circle);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.in-circle img{
    margin-left: 0.21rem;
}

.frase-do-dia-texto{
    margin-left: 0.5rem;
    margin-top: 1.6rem;
}

.frase-do-dia-texto h4{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.6rem;
}

.frase-do-dia-texto p{
    font-size: 1.4rem;
    margin-right: 2rem;

}

.main-content-container{
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-top: 3.2rem;
    
}

.content-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 22.5rem; 
    margin-right: 22.5rem;
    margin-bottom: 3.2rem;
    margin-top: 3.2rem;
    
}

.section-display{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

body::-webkit-scrollbar{
    width: 0.1rem;
}


.swipe-left, .swipe-right{
    display: none;
}

.section-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.section h2{
    font-size: 2rem;
    font-weight: 400;
}

.add-button, .close-button, .close-button-frase{
    width: 30px;
    height: 30px;
    border: var(--unect-blue) 0.2rem solid;
    border-radius: 50%;
    color: var(--unect-blue);
    font-size: 1.6rem;
    background-color: transparent;
}

.add-button:hover, .close-button:hover, .close-button-frase:hover{
    background-color: var(--unect-blue);
    color: #fafafa;
    transition: 0.2s;
    cursor: pointer;
}

.card{
    width: 29.3rem;
    height: 33.7rem;
    background-color: var(--section-background);
    border-radius: 1rem;
    overflow-y: auto;
    scrollbar-color: #C4C4C4 transparent;
    scrollbar-width: thin;
}

.card::-webkit-scrollbar{
    width: 0.6rem;
    margin-right: 6px;
   
}
.card::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 0.3rem;
    margin-right:0.6rem;
    border-right: 6px transparent solid;
    margin-right: 6px;
}
.card::-webkit-scrollbar-track {
   margin-right: 6px;
   border-right: solid 6px transparent;
}
.card::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 20px; 
}

.card::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 20px;
}

/* TASKS */

.task-container{
    width: auto;
    margin: 2rem;
    background-color: var(--boxes);
    height: auto;
    border-radius: 1rem;
    display: flex;
    position: relative;
}

.task-content{
    margin: 1.2rem;
    transition: ease-in;
}

.delete-btn{
    width: 7.1rem;
    height: 3.1rem;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 1px  rgba(0, 0, 0, 0.423);
    border-radius: 0.4rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--red-delete);
    border: none;
    display: none;
}

.delete-btn:hover{
    cursor: pointer;
}

.indicator{
    display: none;
}

.task-title{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.task-tile[data-stats="done"]{
    text-decoration-style: dashed;
    transition: 0.4s;
} 

.description{
    height: fit-content;
}

.description-show{
    font-size: 1.2rem;
    font-weight: 300;
    display: flex;
    gap: 0.6rem
}

.description-show:hover{
    cursor: pointer;
}

.description-body{
    font-size: 1.2rem;
    max-width: 16.5rem;
    word-wrap: break-word;
    height: auto;
    display: none;
}

.move-btns{
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 1.2rem;
    bottom: 1.2rem;
    flex-direction: row-reverse;
    gap: 0.4rem;
}


.move-right, .return{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--unect-blue);
    color: white;
    border: none;
    font-size: 1.2rem;
}

.move-right:hover, .return:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--unect-blue);
    border: solid 0.2rem var(--unect-blue);
    opacity: 60%;
}

.move-left:hover{
    cursor: pointer;
    background-color: var(--unect-blue);
    opacity: 60%;
    color: #FFFFFFc6;
    border: none;
}

.move-left{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    color: var(--unect-blue);
    border: solid 0.2rem var(--unect-blue);
    font-size: 1.2rem;
}

.add-task-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
}

#add-task-screen{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 44.7rem;
    height: 42.1rem;
    border-radius: 2rem;
    background-color: var(--add-task-background);
    padding: 3rem 5rem 3rem 5rem;
}

.new-task{
    width: 100%;
    text-align: center;
    color: var(--unect-blue);
    font-size: 2rem;
    font-weight: 600;
}

.close-button{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 3rem;
    margin-right: 3rem;
}
.close-button-frase{
    display: none;
}

.add-task-content{
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5rem;

}

.add-task-title-container{
    margin-bottom: 3rem;
}


.add-task-text{
    font-size: 1.2rem;
    font-weight: 600;
}

.title-input, .description-input{
    background-color: var(--section-background);
    border-radius: 1rem;
    border: none;
    resize: none;
    padding: 0.4rem;
    font-size: 1.4rem;
}

.title-input{
    width: 100%;
    height: 4.5rem;
}

.description-input{
    width: 100%;
    height: 12rem;
}

.create-task-btn{
    width: 100%;
    height: 4.1rem;
    border: none;
    border-radius: 2rem;
    background-color: #4890F5;
    font-size: 1.2rem;
    color: #FFFFFF;
    margin-top: 5.5rem;
}